body{
    font-size: 20px;
}
.container{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 600px 400px;
    grid-template-rows: 60px 400px 100px;
    text-align: center;
}
.header,
.footer{
    background-color: lightgrey;
}

.header{
    grid-area: 1/1/2/3;
    padding-top: 15px;
}
.main{
    grid-area: 2/1/3/2;
    padding: 10px;
    background-color: beige;
}
.main--grid{
    display: grid;
    grid-template-columns: repeat(4, 122px);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 30px;
}
.main__p{
    grid-area: 1/2/2/4;
}
.main-section1{
    grid-area: 5/1/6/3;
    background-color: antiquewhite;
    height: 80px;
}
.main-section2{
    background-color: antiquewhite;
    grid-area: 5/3/6/5;
}
.main-section3{
    grid-area: 6/1/7/5;
    background-color: antiquewhite;
    height: 80px;
}
.aside{
    grid-area: 2/2/3/3;
    padding-top: 25px;
    background-color: lightgreen;
}
.footer{
    grid-area: 3/1/4/3;
}
.footer--grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    
}
.footer-section{
    padding-top: 20px;
    width: 180px;
    height: 50px;
    background-color: white;
}


